header.header
  .wrap
    a.header__title.cc-active.active-link(href='{{ site.baseurl }}/')
      | Type Revivals
    .menu
      .menu__toggle.js-menu-toggle
        .menu__toggle__icon
          span
      .menu__wrap
        ul.menu__list
          li.menu__list__item
            | {% if page.name == 'index.md' %}
            a.menu__list__item__link.cc-active.active-link(href='{{ site.baseurl }}/') Showcase
            | {% else %}
            a.menu__list__item__link(href='{{ site.baseurl }}/') Showcase
            | {% endif %}
          li.menu__list__item
            | {% if page.name == 'spring_2022.md' %}
            a.menu__list__item__link.cc-active.active-link(href='{{ site.baseurl }}/spring_2022') Spring 22
            | {% else %}
            a.menu__list__item__link.class-link(href='{{ site.baseurl }} /spring_2022') Spring 22
            | {% endif %}
          li.menu__list__item
            | {% if page.name == 'about.md' %}
            a.menu__list__item__link.cc-active.active-link(href='{{ site.baseurl }}/about') About
            | {% else %}
            a.menu__list__item__link(href='{{ site.baseurl }}/about') About
            | {% endif %}
