head
    title Type Revivals
    meta(name="viewport", content="width=device-width, initial-scale=1")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&display=swap" rel="stylesheet">
    link(rel="stylesheet", href="{{ site.baseurl }}/assets/css/orange-mountain.css")
    link(rel="stylesheet", href="{{ site.baseurl }}/assets/css/extra.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="{{ site.baseurl }}/assets/js/orange-mountain.js")
    script(src="{{ site.baseurl }}/assets/js/randomize.js")
