<head>
  <title>Type Revivals</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/><link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght,SOFT@0,9..144,100,0;0,9..144,100,100;0,9..144,200,0;0,9..144,300,0;0,9..144,300,100;0,9..144,340,100;0,9..144,400,100;0,9..144,461,100;0,9..144,500,0;0,9..144,600,0;0,9..144,600,100;0,9..144,700,0;0,9..144,800,0;0,9..144,900,0;1,9..144,100,0;1,9..144,200,0;1,9..144,300,0;1,9..144,400,0;1,9..144,500,0;1,9..144,600,0;1,9..144,700,0;1,9..144,800,0;1,9..144,900,0&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/orange-mountain.css"/>
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/extra.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/orange-mountain.js"></script>
  <script src="{{ site.baseurl }}/assets/js/randomize.js"></script>
</head>