<header class="header">
  <div class="wrap"><a class="header__title cc-active active-link" href="{{ site.baseurl }}/">Type Revivals</a>
    <div class="menu">
      <div class="menu__toggle js-menu-toggle">
        <div class="menu__toggle__icon"><span></span></div>
      </div>
      <div class="menu__wrap">
        <ul class="menu__list">
          <li class="menu__list__item">{% if page.name == 'index.md' %}<a class="menu__list__item__link cc-active active-link" href="{{ site.baseurl }}/">Showcase</a>{% else %}<a class="menu__list__item__link" href="{{ site.baseurl }}/">Showcase</a>{% endif %}</li>
          <li class="menu__list__item">{% if page.name == 'spring_2022.md' %}<a class="menu__list__item__link cc-active active-link" href="{{ site.baseurl }}/spring_2022">Spring 22</a>{% else %}<a class="menu__list__item__link class-link" href="{{ site.baseurl }} /spring_2022">Spring 22</a>{% endif %}</li>
          <li class="menu__list__item">{% if page.name == 'about.md' %}<a class="menu__list__item__link cc-active active-link" href="{{ site.baseurl }}/about">About</a>{% else %}<a class="menu__list__item__link" href="{{ site.baseurl }}/about">About</a>{% endif %}</li>
        </ul>
      </div>
    </div>
  </div>
</header>